body {
    background-color: rgb(0, 217, 255);
    width: 500px; /* largura da página */
    margin: auto; /* margem esquerda e dereita */
    padding-top: 50px; /* espaçamento interno acima */
    color: red
}
div {
    margin-bottom: 20px;
}
input {
    background-color: rgb(204, 0, 255);
}
#divGeral{
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}